.tab {
    overflow: hidden;
    /*
    border: 2px solid gray;
    background-color: #FFE4C4;
    */
    }
.tab button {
    background-color: inherit;
    float: left;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 15px;
    }
.tab button:hover {
    background-color: gray;
    }
.tab button.active {
    background-color: #ccc;
    }
.demo2 {
    display: none;
    padding: 3px 12px;
    }