.tabs {
    overflow: hidden;
    /*
    border: 2px solid gray;
    background-color: #FFE4C4;
    */
}
.tabs button {
    background-color: inherit;
    float: left;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 15px;
}
.tabs button:hover {
    background-color: gray;
}
.tabs button.active {
    background-color: #ccc;
}
.tab-content {
    display: none;
    padding: 3px 12px;
}
